<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <link href='stylesheets/style.css'/>
        
        </style>
        
        <title>Card war</title>
    </head>
    
    <body>
        <div class="container">
              <h1>Card war</h1>
              
              <p>Hey there! Here you can find the latest version of card war.</p>
              
              <br/>
              
              <a href='https://www.dropbox.com/s/8cxl0dlzjekrhvs/card-war.zip?dl=1'><button class='btn btn-success'><big>Download</big></button></a>
              
              <br/>
              
              <p>Build: <b><%=data.version%></b></p>
              <p>Date: <%=data.date%></p>
              
        </div>
    </body>
</html>

