<% include ../partials/header %>

      
<h1>Download Rule and Conquer</h1>
<p>Here you can find the latest version of Rule and Conquer.</p>

 <a href='https://www.dropbox.com/s/8cxl0dlzjekrhvs/card-war.zip?dl=1'><button class='btn btn-success'><big>Download</big></button></a>
            
  <br/>
  
  <p>Build: <b><%=data.version%></b></p>
  <p>Date: <%=data.date%></p>
</div>


<% include ../partials/footer %>