<% include ../partials/header %>
      
<h1>Rule and Conquer</h1>
<p>Welcome to Rule and Conquer!</p>

 <a href='https://www.dropbox.com/s/8cxl0dlzjekrhvs/card-war.zip?dl=1'><button class='btn btn-success'><big>Download</big></button></a>
            
</div>

<% include ../partials/footer %>