<% include ../partials/header %>

<form role="form" method="POST" >
    <div class="form-group">
        <label for="username">
        Username:
        </label>
        <input type="text" class="form-control" name="username" required/>
    </div>
    
    <button type="submit" class="btn btn-primary">Sign up</button>
    
</form>

<% include ../partials/footer %>